html {
  height: 50%;
  width: 50%;
  margin: auto;
}

#me {
  width: 20%;
  height: 30%;
}

#doge {
  width: 30%;
  height: 30%;
}

body {
  text-align: center;
  font-family: 'Georgia';
  background: #FAFAD2;
  color: #191970;
}